* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: "Josefin Sans";
  background-color: #000;
  color: #777;
}
* body a {
  color: #777;
  text-decoration: none;
  transition: 400ms;
}
* body ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  padding: 1.5em 0;
  margin: 0 auto;
}
@media only screen and (max-width: 425px) {
  .header {
    padding: 1.1rem;
    flex-wrap: wrap;
  }
}
.header-brand {
  color: #fff;
  font-size: 3rem;
}
.header-navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 425px) {
  .header-navbar ul {
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.header-navbar ul li {
  margin: 0 0.8rem;
  font-size: 1.25rem;
}
.header-navbar ul li .active {
  color: #00997f;
}
.header-navbar ul li a:hover {
  color: #00997f;
}
.header-social-media ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 425px) {
  .header-social-media ul {
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
}
.header-social-media ul li {
  margin: 0 1rem;
  font-size: 1.5rem;
}
.header-social-media ul li a:hover {
  color: #fff;
}

.gallery {
  max-width: 1170px;
  padding: 1.5em 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
@media only screen and (max-width: 425px) {
  .gallery {
    flex-direction: column;
  }
}
.gallery-card {
  width: 31%;
  height: 400px;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border: 2px solid #fff;
}
@media only screen and (max-width: 425px) {
  .gallery-card {
    width: 90%;
    margin-bottom: 6%;
  }
}
.gallery-card-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.gallery-card-btn {
  border: 2px solid #fff;
  padding: 0.6rem 2rem;
  color: #fff;
  letter-spacing: 1px;
  font-variant: small-caps;
}
.gallery-card-btn:hover {
  background: #fff;
  color: #000;
}
.gallery #card-1 {
  background-image: url(/img/animais.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-1:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/animais.jpg);
}
.gallery #card-2 {
  background-image: url(/img/arquitetura.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-2:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/arquitetura.jpg);
}
.gallery #card-3 {
  background-image: url(/img/cidade.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-3:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/cidade.jpg);
}
.gallery #card-4 {
  background-image: url(/img/decoracao.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-4:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/decoracao.jpg);
}
.gallery #card-5 {
  background-image: url(/img/esportes.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-5:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/esportes.jpg);
}
.gallery #card-6 {
  background-image: url(/img/natureza.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-6:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/natureza.jpg);
}
.gallery #card-7 {
  background-image: url(/img/paisagem.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-7:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/paisagem.jpg);
}
.gallery #card-8 {
  background-image: url(/img/pessoas.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-8:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/pessoas.jpg);
}
.gallery #card-9 {
  background-image: url(/img/refeicoes.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 400ms;
}
.gallery #card-9:hover {
  filter: grayscale(0);
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/refeicoes.jpg);
}

footer {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}
footer span {
  color: #00997f;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
