@use "variables";

@mixin container {
    max-width: variables.$container-width;
    padding: 1.5em 0;
    margin: 0 auto;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bg-img($img) {
    background-image: url(/img/#{$img});
    background-size: 100%;
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: 400ms;

    &:hover {
        filter: grayscale(0);
        background-size: 110%;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url(/img/#{$img});
    }
}

@mixin mobile {
    @media only screen and (max-width: 425px) {
        @content;
    }
}
